<link rel="stylesheet" href="styles.css" />

<h2>Login</h2>
<form onsubmit="auth()">
  <input required type="email" placeholder="Email" /><br />
  <input required id="password" type="password" placeholder="Password" />
  <input type="submit" />

  <script>
    function auth() {
      var password = document.getElementById("password").value;
      var email = document.getElementById("email").value;

      fetch(`localhost:8000/auth?password=${password}&email=${email}`, {
        method: "PUT",
      });
      console.log("huh");
    }
  </script>
</form>
